<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Nro. 1</title>
</head>
<body>
    <header>
        <a href="../templates/index.html">Inicio</a>
        <a href="../templates/galeria.html">Galeria</a>
        <a href="../templates/tabla.html">Tabla</a>
        <a href="../templates/lista.html">Lista</a>
        <a href="../templates/formulario.html"> formulario</a>
    </header>

    <main>
        <section>
            <p><mark>Lista desordenada:</mark></p>
            <ul>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miercoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sabado</li>
                <li>Domingo</li>
            </ul>
        </section>
        <section>
            <p><mark>Lista ordenada:</mark></p>
            <ol>
                <li>Argentina</li>
                <li>Francia</li>
                <li>España</li>
            </ol>
        </section>
        <section>
            <p><mark>Lista dependiente:</mark></p>
            <ol>
                <li>Lunes</li>
                <ul>
                    <li>Turno Mañana</li>
                    <ul>
                        <li>08:00 AM</li>
                        <li>10:00 AM</li>
                    </ul>
                    <li>Turno Tarde</li>
                    <ul>
                        <li>14:00 PM</li>
                        <li>16:00 PM</li>
                    </ul>
                </ul>
            </ol>
        </section>
        <section>
            <p><mark>Lista de Definicion:</mark></p>
            <dl>
                <dt>Argentina</dt>
                <dd>Buenos Aires</dd>
                <dd>Santa Fe</dd>
                <dd>Cordoba</dd>
                <dd>Rio Negro</dd>
                <dd>La Pampa</dd>
                <dd>Mendoza</dd>
            </dl>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>