<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Nro. 1</title>
</head>
<body>
    <header>
        <a href="../templates/index.html">Inicio</a>
        <a href="../templates/galeria.html">Galeria</a>
        <a href="../templates/tabla.html">Tabla</a>
        <a href="../templates/lista.html">Lista</a>
        <a href="../templates/formulario.html"> formulario</a>
    </header>

    <main>
        <h1>Tablas</h1>
        <table  border="1">
            <tr>
                <th>nombre</th>
                <th>apellido</th>
                <th>edad</th>
            </tr>
            
            <tr>
                <td>agustin</th>
                <td>singh</th>
                <td>25</th>
            </tr>

            <tr>
                <td>facundo</th>
                <td>clerici</th>
                <td>20</th>
            </tr>
        </table>
    </main>

    <footer>

    </footer>
</body>
</html>